# ==============================
# 编译产物（安全，可忽略）
# ==============================
**/*.o
**/*.d
**/*.elf
**/*.hex
**/*.bin
**/*.map
**/*.axf
**/*.crf
**/*.dep
**/*.bak
**/*.htm
**/*.lnp
**/*.sct
**/*.iex

# ==============================
# Keil 编译目录（安全）
# ==============================
**/Objects/
**/Listings/
**/DebugConfig/
**/RTE/
keilkill.bat

# ==============================
# IDE 配置文件（安全）
# ==============================
.vscode/
.idea/
.project
.cproject
.mxproject

# ==============================
# CMake 编译输出（安全）
# ==============================
cmake-build-debug/
cmake-build-release/
build/
out/

# ==============================
# 可执行文件（安全）
# ==============================
**/*.exe

# ==============================
# 链接脚本
# ==============================
**/*.ld
